 body{
	 margin: 0;
	 font-family: Baskerville Old Face regular, sans-serif;
	 font-size: 1.5rem;
 }

a {
	text-decoration: none;
}

ul{
	list-style-type: none;
	display: flex;
	margin:  0 10px;
}

ul li{   
	margin: 5px 35px;
	padding: 0;
}

ul li:hover{
    font-weight: bolder;
    transform: scale(0.8);	  transition:  all 0.5s;
}
 
.header{
	margin-bottom: 10px;
}
 
 .inner{
	 display: flex;
	 color: #f5f5f5;
	background-color: #470147;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 15px 15px, inset rgba (0,0,0,0.15) 0px -10px 20px;
    box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
	font-weight: bolder;
	padding: 10px;

 }

.inner a{
	color: #f5f5f5;
	text-decoration: none;
}

.brand{
    display: flex;
    cursor: pointer;
    margin: 10px ;
    align-items: center;
}

.brand h2{
    margin: auto;
    word-spacing: 5px;
    text-align: center;
	letter-spacing: 0.2rem;
}

.brand span{
	text-transform: uppercase;
	opacity: 0.7;
	letter-spacing: 0.6rem;
	margin-left: 20px;
	font-size: 2.2rem;
}

.aside{
	margin: 10px auto;
}

.help{
	margin: 15px auto ;
}

.help:hover{
	transform: scale(1.1);	  transition:  all 0.5s;
}


.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 90vw;
	max-width: 80em;
	margin: 0 auto;

}

.container > *{
	width: 70%;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.justify-center{
	justify-content: center;
}

.text-center{
	text-align: center;
}

.hidden{
	display: none;
}


.btn{
	font-size: 1.8rem;
	color: #800080;
	padding: 10px 0;
	width: 15rem;
	text-align: center;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
	cursor: pointer;
	
}

.btn:hover{
	-webkit-box-shadow: rgba(100,0,255,0.6) 0px 0px 10px;
    box-shadow: rgba(100,0,255,0.6) 0px 0px 10px;
	transform:  scaleX(1.1);
	transition: all 0.5s;
}


.btn[disabled]:hover{
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}

 @media only screen and (max-width: 600px) { 

	body{
		font-size: 1rem;
		}
    
	.brand h2, .brand span, .aside, .help{
		font-size: 0.8rem;
		}

	.brand{
		margin: 0;
		}
	
	.brand h2{
		text-align: initial;
		width: 200px;
	}

	.brand span{
		margin-left: 0;
		}

	.aside ul{
		margin: 0;
		padding-left: 0;
		}

	.aside ul li{
		margin: 5px;
		}

    
}
 
 
 
 
 
 /*.wrap{
 	font-family: cursive; 
 	
 	min-width: 600px;
 	height: auto;
 
	}

header{
	min-width: 70%;
	max-width: 90%;
}

h1{
	color:  blue ;
	font-size: 50px;
	text-align: center;
	
	text-transform: uppercase;
	text-shadow: 4px 2px 0  black;

}

 

.content{
	background-color: #ddd;
	
	min-width: 70%;
	max-width: 90%;
	height: 600px;
	-webkit-border-radius: 20px;
	border: 5px outset #C3D7DF;
	color: white;
	padding: 0 20px 0 20px;
	
	clear: both;
	

}



.main{
	height: 50%;
	margin-top: 20px;
	text-align: center;
	padding: 20px;
	border: 5px outset white;
	-webkit-border-radius: 20px;
}

textarea{
	width: 90%;
	height: 90%;
	margin-top: 10px;
	-webkit-border-radius: 20px;
	font-family: cursive;
}

.opt{
	height: 20%;
	margin-top: 30px;
	padding: 10px 0 10px 0;
	border: 5px inset white;
	-webkit-border-radius: 20px;

}

.btn{
	margin: 10px auto;
	height: 30%;
	min-width: 50%;
	border: 6px inset #fff;
	-webkit-border-radius: 30px;
	float: left;
	text-align: left;
	background-color: #ddd;
	font-family: cursive;
	padding-left: 20px;
	
}

.btn:hover{
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
	cursor: pointer;
	font: bolder;
}

*/



