/*.input{
    border: 1px solid #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,40,55,0.44);
    display: none;
    transition: all 0.6s;
}

.initialcontent{
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white ), color-stop(70%,white), color-stop(100%, lightgrey));
    background: -webkit-linear-gradient(top, white  0%, white 90%, lightgrey 100% );
     -webkit-box-shadow: rgba(0,0,0,0.1) 0px 5px 10px, inset rgba (0,0,0,0.15) 0px 5px 35px;
    box-shadow: rgba(0,0,0,0.1) 0px 5px 20px, inset rgba(0,0,0,0.15) 0px 5px 35px;
    width: 70vw;
    position: relative;
    z-index: 2;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    margin: 10% auto;
}
.initialcontent label{
    margin-left: 5%;
} */



#header{    
    display: flex;
    justify-content: space-between;  
}

.title{
    text-align: center;
    font-size: 2rem;
  
}

#score{
    margin: auto;
}

.options{
   /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    display: flex;
    width: 100%;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    margin: 5px 0; 
    
}

.options:hover{
   /* background: rgba(0,0,0,0.04); */
    transform:  scaleX(1.02);
    cursor: pointer;
    transition: all 0.5s;
}

.option-id{
    border-right:solid rgba(0,0,0,0.2);
    background: #800080;
    color: #f5f5f5;
    text-align: center;
    padding: 25px;
    margin: 0;
}


.option{
  width: 100%;
  padding: 5px;   
}

.correct{
    background: green;
    -webkit-box-shadow: rgba(0, 255,100, 0.2) 0px 0px 10px;
    box-shadow: rgba(0, 255,0, 0.7) 0px 0px 10px;
    color: #f5f5f5;
  
}

.wrong{
     background: red;
     -webkit-box-shadow: rgba(255, 0,0, 0.7) 0px 0px 10px;
     box-shadow: rgba(255, 0,0, 0.7) 0px 0px 10px;
     color: #f5f5f5;
}

.modal{
    border: 1px solid #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(50,40,55,0.44);
    display: none; 
    transition: all 0.6s;
}

.show{
    display: block;
}

.content{
  /*  display: flex; */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white ), color-stop(70%,white), color-stop(100%, lightgrey));
    background: -webkit-linear-gradient(top, white  0%, white 90%, lightgrey 100% );
     -webkit-box-shadow: rgba(0,0,0,0.1) 0px 5px 10px, inset rgba (0,0,0,0.15) 0px 5px 35px;
    box-shadow: rgba(0,0,0,0.1) 0px 5px 20px, inset rgba(0,0,0,0.15) 0px 5px 35px;
    margin: 10% auto;
    width: 70vw;
    position: relative;
    z-index: 2;
    padding: 10px;
}

.content > *{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
  
}

#display{
    color: #800080;
    font-weight: bolder;
    margin-left: 10px;
}

.btn{
    font-size: 1rem;
    margin: 2% auto;
}

.input{
    margin-bottom: 20px;
}

.input form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.myname{
    width: 50%;
    padding: 5px;
    border: none;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    outline: none;
    border-top-left-radius: 5px;
    font-size: 1.1rem;
    color: #800080;
    font-family:inherit;
   
}

.frmbtn{
    width: 30%;
    margin-left: 10px;
	color: #800080;
	padding: 5px;
	text-align: center;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px;
    background: none;
    border: none;
    border-radius: 5px;
}


.frmbtn:hover{
    cursor: pointer;
    transform: scaleX(1.1);
    transition: all 0.3s;
    border: none;
    -webkit-box-shadow: rgba(100,0,255,0.6)  5px 5px 10px;
    box-shadow: rgba(100,0,255,0.6)  5px 5px 10px;
}




